.text-grid {
    text-align: center;
    @include tablet {
        gap: rem(48);
    }
    @include desktop-sm {
        gap: rem(56);
    }
    &__btn {
        margin: auto;
    }
    &__content {
        flex-direction: column;
        gap: rem(24);
        margin: auto;
        max-width: rem(790);
        @include tablet {
            gap: rem(40);
        }
    }
}
