.process {
    max-width: rem(1030);
    margin: auto;
    &__steps {
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: rem(96);
        @include tablet {
            gap: rem(72);
        }
        @include laptop {
            gap: rem(48);
        }
    }
    &__btn {
        margin: rem(48) auto 0;
    }
}
