.hero {
    align-items: center;
    text-align: center;
    @include marginY(-48);
    @include transition(margin);
    @include laptop {
        @include marginY(-64);
    }
    .cta-tiles {
        flex-direction: column;
        gap: rem(32);
        width: 100%;
        @include marginY(20);
        @include tablet-lg {
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
