@font-face {
    font-family: "Recharge";
    src: url("/fonts/Recharge-Bold.woff2") format("woff2"),
        url("/fonts/Recharge-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-Regular.woff2") format("woff2"),
        url("/fonts/Rubik-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-Italic.woff2") format("woff2"),
        url("/fonts/Rubik-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-Bold.woff2") format("woff2"),
        url("/fonts/Rubik-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-BoldItalic.woff2") format("woff2"),
        url("/fonts/Rubik-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@mixin font-recharge-bold {
    font-family: "Recharge", sans-serif;
    font-weight: 700;
}

@mixin font-rubik-regular {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

@mixin font-rubik-italic {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin font-rubik-bold {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

@mixin font-rubik-bold-italic {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-style: italic;
}
