html,
body {
    overflow-x: hidden;
}

html {
    @include font-rubik-regular;
    background-color: color(dark, blue);
    color: color(neutral, white);
}
body {
    display: flex;
    flex-direction: column;
    gap: rem(100);
    @include transition(gap);
    @include tablet {
        gap: rem(120);
    }
    @include laptop {
        gap: rem(160);
    }
}

.docs-story {
    background-color: color(dark, blue);
}
