$base-font-size: 16;

@function rem($val) {
    @return calc($val/$base-font-size) + rem;
}

@mixin font($font-size, $leading, $tracking: 0) {
    font-size: calc($font-size / $base-font-size) + rem;
    line-height: calc($leading / $base-font-size) + rem;
    letter-spacing: $tracking + px;
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin desktop-sm {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1600) {
        @content;
    }
}
