html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

:last-child {
    margin-bottom: 0;
}

:first-child {
    margin-top: 0;
}

a {
    background-color: transparent;
}

a,
input,
button {
    -webkit-tap-highlight-color: fade(#000, 0%);
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    color: inherit;
    font: inherit;

    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    -webkit-appearance: none;
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    &:hover {
        cursor: pointer;
    }
}

a {
    color: unset;
    text-decoration: none;
    cursor: pointer;

    @include hover {
        color: unset;
        text-decoration: none;
    }
}

abbr {
    &[title] {
        border-bottom: 1px dotted;
    }
}

b,
strong {
    font-weight: bold;
}

code,
kbd,
samp {
    :not(pre) > & {
        white-space: nowrap;
        padding: 0;
    }
}

em {
    font-style: italic;
}

ins {
    text-decoration: none;
}

q {
    font-style: italic;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

svg {
    &:not(:root) {
        overflow: hidden;
    }
}

blockquote,
figure {
    margin: 0;
}

p,
ul,
ol,
dl,
blockquote,
pre,
address,
fieldset,
figure {
    margin: 0;

    * + & {
        margin-top: 20px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: unset;
    font-size: unset;
}

ul,
ol {
    padding-left: 30px;

    > li {
        > ul,
        > ol {
            margin: 0;
        }
    }
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    margin: 0;
    border: 0;
    border-top: 1px solid #000;

    * + & {
        margin-top: 20px;
    }
}

address {
    font-style: normal;
}

pre {
    overflow: auto;

    > code {
        margin: 0;
        padding: 0;
    }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

progress {
    vertical-align: baseline;
}

audio {
    &:not([controls]) {
        display: none;
    }
}

[hidden],
template {
    display: none;
}

iframe {
    border: 0;
}
