$color: (
    neutral: (
        white: #f5f5f5,
        black: #000000,
        mdGray: #8c8e8e,
        lightGray: #dcdcdc,
    ),
    neon: (
        red: #ed2124,
        blue: #31c6f4,
        green: #9add5b,
        fuchsia: #cc00ff,
    ),
    dark: (
        blue: #000f3c,
        purple: #9f32f4,
        red: #b60e11,
    ),
);
