.section {
    &__hero {
        margin-top: rem(-128);
        margin-bottom: rem(-384);
        padding-top: rem(40);
        padding-bottom: rem(320);
        @include transition(margin);
        // @include laptop {
        //     @include marginY(-64);
        // }
    }
    &__grid {
        &-purple,
        &-green {
            position: relative;
            &:before {
                display: block;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                background-image: url('/grid.svg');
                background-position-y: 0;
                background-repeat: no-repeat;
                background-size: 100vw;
                opacity: 0.3;
            }
            &:after {
                display: block;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                background-image: gradient(blue);
            }
        }
    }
}
