.heading {
    text-transform: uppercase;
    &.centered {
        text-align: center;
    }
    &.green {
        color: color(neon, green);
    }

    &.blue {
        color: color(neon, blue);
    }

    &.md,
    &.xl {
        @include font-recharge-bold;
        text-shadow: shadow(fuchsia);
    }

    &.xs {
        @include font(20, 28);
        @include tablet {
            @include font(26, 36);
        }
    }

    &.sm {
        @include font(24, 34);
        @include tablet {
            @include font(32, 38);
        }
    }

    &.md {
        @include font(22, 26, 0.4);
        @include tablet {
            @include font(38, 55, 0.75);
        }
    }

    &.lg {
        @include font(28, 36);
        @include tablet {
            @include font(44, 54);
        }
        @include desktop {
            @include font(50, 60);
        }
    }

    &.xl {
        @include font(26, 32, 0.5);
        @include tablet {
            @include font(44, 54, 0.85);
        }
        @include desktop {
            @include font(60, 72, 1.2);
        }
    }
}
