.icon-tile-grid {
    flex-direction: column;
    gap: rem(40);
    @include transition(gap, column-gap, row-gap);
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 6%;
        row-gap: rem(40);
    }
    @include laptop {
        column-gap: 5%;
    }
    @include desktop-sm {
        column-gap: 3.33%;
    }

    &__wrapper {
        gap: rem(40);
        text-align: center;
        @include transition(gap);
        @include laptop {
            gap: rem(48);
        }
    }
    &__btn {
        margin: auto;
    }
}
