.header {
    @include paddingY(24);
    justify-content: space-between;
    gap: rem(40);
    position: relative;
    z-index: 101;
    background-color: color(dark, blue);
    .logo {
        width: rem(250);
    }
}
