.header {
    flex-direction: row !important;
    padding-top: rem(24);
    padding-bottom: rem(16);
    margin-bottom: rem(-16);
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100vw;
    @include transition(padding-top, padding-bottom);
    @include paddingX(0);
    &:before {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 101;
        background: color(dark, blue);
    }
    &__content {
        flex-direction: row;
        gap: rem(40);
        justify-content: space-between;
        align-items: center;
    }
    .logo,
    .right-content {
        z-index: 101;
    }
    .logo {
        width: rem(250);
        padding: unset;
        @include transition(width);
        &:before {
            display: none;
        }
    }
    .right-content {
        align-items: center;
        gap: rem(24);
        @include transition(gap);
        @include laptop-lg {
            gap: rem(32);
        }
        @include desktop-sm {
            gap: rem(44);
        }
        .tablet-btn {
            display: none;
            text-align: center;
            @include transition(padding, background-position);

            @include tablet {
                display: block;
            }
        }
    }
    &__sticky {
        @include paddingY(4);
        @include tablet {
            @include paddingY(12);
        }
        &:before {
            box-shadow: shadow(lightFuchsia);
            border-bottom: 1px solid color(neutral, grayBlue);
        }
        .logo {
            width: rem(180);
        }
        .tablet-btn {
            padding: rem(10) rem(15);
        }
        &.header__menu-open {
            padding-top: rem(24);
            padding-bottom: rem(16);
            &:before {
                display: none;
            }
            .logo {
                width: rem(250);
            }
        }
    }
}
