.container {
    width: 100%;
    height: auto;
    img {
        position: relative !important;
        object-fit: contain;
    }
    &.border,
    &.border > img {
        border-radius: rem(20);
    }
    &.border {
        position: relative;
        border: 2px solid color(neon, blue);
        margin-right: rem(12);
        @include transition(margin-right);
        @include mobile-lg {
            margin-right: rem(20);
        }
        &:after {
            display: block;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: rem(12);
            left: rem(12);
            z-index: -1;
            border-radius: rem(26);
            border: 2px solid color(neon, green);
            @include transition(top, left);
            @include mobile-lg {
                top: rem(20);
                left: rem(20);
            }
        }
    }
}
