.container {
    width: 100%;
    height: auto;
    img {
        position: relative !important;
        object-fit: contain;
        width: 100%;
    }
    &.border,
    &.border > img {
        border-radius: rem(20);
    }
    &.border {
        @include doubleBorder;
        margin-right: rem(12);
        @include transition(margin-right);
        @include mobile-lg {
            margin-right: rem(20);
        }
    }
}
