.menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: rem(64);
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    @include laptop {
        gap: rem(44);
        flex-direction: row;
    }
    li {
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column;
        @include laptop {
            display: block;
            width: auto;
        }
        &:before {
            display: block;
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            top: unset;
            bottom: rem(-30);
            z-index: -1;
            background-color: color(neutral, mdGray);
            transform: unset;
            @include laptop {
                display: none;
            }
        }
        &:last-child {
            &:before {
                display: none;
            }
        }
        .menu-link,
        .submenu-btn {
            display: flex;
            @include font(24, 28);
            justify-content: space-between;
            width: auto;
            @include paddingX(20);
            @include laptop {
                @include font(16, 20);
                justify-content: start;
            }
            &:before {
                display: none;
                @include laptop {
                    display: block;
                }
            }
            ~ .submenu {
                margin-top: rem(24);
                padding: rem(24);
                @include laptop {
                    position: absolute;
                    padding: rem(20);
                    margin-top: rem(12);
                    width: 200%;
                    left: -50%;
                }
                &:before {
                    display: block;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    background: color(dark, blue);
                    border: 1px solid color(neon, blue);
                    border-radius: rem(20);
                    @include laptop {
                        border-radius: rem(10);
                    }
                }
                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: rem(8);
                    left: rem(8);
                    z-index: -2;
                    border: 1px solid color(neon, green);
                    border-radius: rem(24);
                    @include laptop {
                        border-radius: rem(14);
                        top: rem(6);
                        left: rem(6);
                    }
                }
                ul {
                    display: block;
                }
                li {
                    text-align: center;
                    &:before {
                        bottom: rem(-20);
                    }
                    & + li {
                        margin-top: rem(42);
                    }
                }
            }
        }
        .submenu-btn {
            &:hover:before {
                display: none;
            }
        }
    }
}
