.mobile-nav {
    @include paddingX(24);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    background-color: color(dark, blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: rem(144);
    padding-bottom: rem(44);
    ul {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: rem(64);
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        li {
            display: flex;
            position: relative;
            width: 100%;
            &:before {
                display: block;
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                top: unset;
                bottom: rem(-30);
                z-index: -1;
                background-color: color(neutral, mdGray);
                transform: unset;
            }
            &:last-child {
                &:before {
                    display: none;
                }
            }
            a {
                @include font(24, 28);
                width: 100%;
                &:before {
                    display: none;
                }
            }
        }
    }
    .mobile-btn {
        display: flex;
        width: 100%;
        @include tablet {
            display: none;
        }
    }
}
