.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    background-color: color(dark, blue);
    ul {
        display: flex;
        height: 100vh;
        padding-top: rem(144);
        flex-direction: column;
        gap: rem(64);
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        li {
            display: flex;
            a {
                @include font(24, 28);
            }
        }
    }
}
