.sm {
    width: rem(16);
    height: rem(16);
}
.md {
    width: rem(24);
    height: rem(24);
}
.lg {
    width: rem(32);
    height: rem(32);
}
.gray {
    fill: color(neutral, mdGray);
}
.green {
    fill: color(blueTheme, neonGreen);
}
.blue {
    fill: color(blueTheme, neonBlue);
}

.green-theme {
    &.green {
        fill: color(greenTheme, neonGreen);
    }
    &.blue {
        fill: color(greenTheme, neonBlue);
    }
}
