.link {
    text-transform: uppercase;
    &.underline-hover {
        padding: rem(14);
        margin: rem(-14);
        display: inline-block;
        @include underlineSlideHover;
    }
    &__rich-text {
        color: color(blueTheme, neonGreen);
        text-transform: none;
        text-decoration: underline;
        @include transition(color);
        @include hover {
            color: color(blueTheme, neonFuchsia);
            text-decoration: underline;
        }
        &:before {
            display: none;
        }
    }
    &.green-theme {
        &.link__rich-text {
            color: color(greenTheme, neonGreen);
            @include hover {
                color: color(greenTheme, neonBlue);
            }
        }
    }
}
