.accordion-item {
    flex-direction: column;
    @include border;
    padding: rem(24);

    @include hover {
        border-color: color(blueTheme, neonGreen);
    }
    &.expanded {
        @include hover {
            border-color: color(blueTheme, neonBlue);
        }
        .accordion-item__icon {
            width: rem(18);
            margin-top: rem(4);
            margin-left: rem(7);
        }
    }

    &__header {
        @include addTargetArea(24);
        display: flex;
        justify-content: space-between;
        text-align: left;
        gap: rem(24);
    }
    &__icon {
        width: rem(25);
        flex-shrink: 0;
    }
    &__content {
        display: none;
        margin-top: rem(24);
        &.expanded {
            display: block;
        }
    }
    &:nth-child(odd) {
        .accordion-item__header {
            h3 {
                color: color(blueTheme, neonBlue);
            }
        }
    }
    &.green-theme {
        @include border(greenTheme);
        @include hover {
            border-color: color(greenTheme, neonGreen);
        }
        &.expanded {
            @include hover {
                border-color: color(greenTheme, neonBlue);
            }
        }
        &:nth-child(odd) {
            .accordion-item__header {
                h3 {
                    color: color(greenTheme, neonBlue);
                }
            }
        }
        button img {
            filter: filter-overlay(purple);
        }
    }
}
