.not-found {
    align-items: center;
    padding-bottom: rem(150);
    margin-bottom: rem(-150);
    margin-top: rem(-50);
    h2 {
        text-align: center;
    }
    p {
        margin-top: rem(-10);
    }
    &__image {
        width: rem(75);
        @include transition(width);
        @include tablet {
            width: rem(100);
        }
        @include laptop {
            width: rem(150);
        }
    }
}
